# requriements.txt
llama-index
llama_index
werkzeug
llama-index-llms-bedrock
llama-index-embeddings-bedrock
llama-index-postprocessor-rankgpt-rerank
#llama-index-vector-stores-pinecone
waitress
requests
selenium
pandas
flask-cors